@using eAkademija.Web.Areas.Admin.Models
@model  IEnumerable<UserViewModel>

<div id="ajaxDetalji">

</div>

<div class="panel panel-default">
    
     <div class="panel panel-heading row">

         <h5 class="col-lg-3" style="text-align: center;"> Lista Korisnika </h5>

         <form method="get" action="/Admin/Users/Index" class="col-lg-9">
             <div class="row">
                 <input type="text" name="naziv" placeholder="Nihad Hrnjic .." class="form-control col-lg-3" style="width: 25%; margin-right: 15px;" />
                
                  <select name="tip" class="form-control col-lg-3" style="width: 25%;  margin-right: 15px;">
                     <option value="" @(ViewBag.Tip == "" ? "selected" : "")> Odaberite Tip Korisnika </option>  
                     <option value="Student" @(ViewBag.Tip == "Student" ? "selected" : "")> Studenti </option>
                     <option value="Instruktor" @(ViewBag.Tip == "Instruktor" ? "selected" : "")> Instruktori </option>
                 </select> 

                 <button type="submit" class="btn btn-default"> Pretraga </button>
             </div>
         </form>
     </div>   

    <table class="table table-striped">

           <thead>
               <tr>
                   <td> Ime </td>
                   <td> Prezime </td>
                   <td> Tip </td>
                   <td> Grad </td>
                   <td colspan="2"> Akcija </td>
                    <td> Report </td>
               </tr>
           </thead> 

           <tbody>
               
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.Ime </td>
                        <td> @item.Prezime </td>
                        <td> @item.Tip </td>
                        <td> @item.Grad </td>
                        <td>
                            @if (item.Tip != "Administrator")
                            {
                                @Ajax.ActionLink("Detalji", "Show", new { userId = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDetalji" }, new { @class = "btn btn-success" })
                            }
                        </td>

                        <td>
                             @if (item.Tip != "Administrator")
                             {
                                @Html.ActionLink("Ukloni", "Delete", new { userId = item.Id }, new { @class = "btn btn-danger" })
                             }
                        </td>
                       

                        <td>
                            @if (item.Tip != "Administrator")
                            {
                               <a href="/Reports/Administrator/Korisnici.aspx?korisnikId=@item.Id" class="btn btn-primary"> 
                                   Report 
                               </a>
                            }
                        </td>


                    </tr>
                }
            
           </tbody>

    </table>

</div>

