@using eAkademija.Data.Model;
@using eAkademija.Data.Enums;
@model IEnumerable<Kategorija>


<div id="index-content">

    <div id="dodajKategorija">

    </div>


    <div class="panel panel-default">

        <div class="panel panel-heading">
            <h4 class="kategorija-title"> Lista Kategorija </h4>
            @Ajax.ActionLink("Nova Kategorija", "Add", null, new AjaxOptions { UpdateTargetId = "dodajKategorija" }, new { @class = "btn btn-primary pull-right" })
          
            <form action="/Admin/Kategorija/Index" method="get" id="kategory-filter-form">
                <select name="status" class="form-control select-category">
                    <option value="1" @( ViewBag.status == KategorijaStatus.ACTIVE ? "selected" : "")> Odobrena </option>
                    <option value="0" @( ViewBag.status == KategorijaStatus.FLAGGED_FOR_PERMISSION ? "selected" : "")> Ceka odobrenje </option>
                </select>
                <button class="btn btn-success pull-right btn-search-category"> Pretraga </button>
            </form>

        </div>

        <div class="panel panel-body">

            <table class="table table-striped">

                <thead>
                    <tr>
                        <td> Id </td>
                        <td> Naziv Kategorije </td>
                        <td> Status </td>
                        <td> Action </td>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var kategorija in Model)
                    {
                        <tr>
                            <td> @kategorija.Id </td>
                            <td> @kategorija.Naziv </td>
                            <td>
                                @Ajax.ActionLink(kategorija.GetDisplayName(kategorija.KategorijaStatus), "UpdateStatus", new { categoryId = kategorija.Id }, new AjaxOptions { UpdateTargetId = "index-content" }, new { @class = "" })
                            </td>

                            <td> @Ajax.ActionLink("Delete", "Delete", new { categoryId = kategorija.Id, status = ViewBag.status } ,new AjaxOptions { UpdateTargetId = "index-content" }, new { @class = "btn btn-danger" }) </td>
                            <td> <button id="@kategorija.Id" class="btn btn-primary btn-category"> Prikazi Podkategorije </button> </td>
                          </tr>

                         <tr class="podkategorija-wrapper" id="podkategorija_@kategorija.Id">
                             <td colspan="4">

                                 <div id="podkategorija-new_@kategorija.Id">

                                 </div>

                                 @Ajax.ActionLink("Nova", "Add", "Podkategorija", new { Id = kategorija.Id } ,new AjaxOptions { UpdateTargetId = "podkategorija-new_"+kategorija.Id }, new { @class = "btn btn-primary pull-right" })

                                 <table class="table table-striped">

                                     <thead>
                                         <tr>
                                             <td> Naziv </td>
                                             <td> Akcija </td>
                                         </tr>
                                     </thead>

                                     <tbody>
                                         @foreach(var podkategorija in kategorija.Podkategorije)
                                         {
                                             <tr>
                                                 <td> @podkategorija.Naziv </td>
                                                 <td> @Ajax.ActionLink("Delete", "Delete", "Podkategorija", new { Id = podkategorija.Id }, new AjaxOptions { UpdateTargetId = "podkategorija_" + @kategorija.Id }, new { @class = "btn btn-danger"}) </td>
                                             </tr>
                                         }
                                     </tbody>
                                 </table>
                             </td>
                         </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

</div>

